@import "../../_variables";

.menu {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.menu__btn {
  position: absolute;
  z-index: 3;
  top: 35px;
  right: 35px;
  cursor: pointer;
  @include easeOut;

  &.menu__btn_close {
    transform: rotate(180deg);

    .menu__btn-line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(8px, 8px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(3px, -3px);
      }
    }
  }
}

.menu__btn-line {
  width: 28px;
  height: 3px;
  margin-bottom: 5px;
  background: $secondary-color;
  @include easeOut;
}

.menu__nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;

  &.menu__nav_show {
    visibility: visible;
  }

  .menu__branding,
  .menu__list {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    overflow: hidden;

    @media (max-width: 767px) {
      width: 100%;
      height: auto;
    }
  }

  .menu__branding {
    background: $primary-color;
    transform: translate(0, 100%);
    @include easeOut;

    &.menu__branding_show {
      transform: translate(0, 0);
    }

    .menu__portrait {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      overflow: hidden;
      border: 3px solid $secondary-color;

      .menu__portrait-img {
        width: 100%;
      }

      @media (max-width: 767px) {
        width: 20vh;
        height: 20vh;
      }
    }

    @media (max-width: 767px) {
      transform: translate(100%, 0);
      height: 25vh;
    }
  }

  .menu__list {
    background: darken($primary-color, 5);
    transform: translate(0, -100%);
    @include easeOut;

    &.menu__list_show {
      transform: translate(0, 0);
    }

    @media (max-width: 767px) {
      transform: translate(-100%, 0);
      height: 75vh;
    }
  }

  .menu__nav-item {
    transform: translate(600px, 0);
    margin-bottom: 1rem;
    @include easeOut;

    &.menu__nav-item_show {
      transform: translate(0, 0);
    }
  }

  .menu__nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    @include easeOut;

    &:hover,
    &.menu__nav-link_active {
      color: $secondary-color;
    }
  }

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

@for $x from 1 through 4 {
  .menu__nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}
